<div class="absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 w-21v p-5 shadow-lg">
  <button
    type="button"
    class="flex items-center justify-center w-full py-2 rounded-md border shadow hover:shadow-md text text_primary"
    (click)="loginWithGoogle()">
    <svg-icon icon="google-logo" class="w-6 h-6 mx-3"></svg-icon>
    Login with Google
  </button>

  <div class="my-8 relative">
    <hr />
    <span class="z-20 absolute top-1/2 left-1/2 -translate-x-2/4 -translate-y-2/4 px-2 bg-white text text_primary text-sm">or</span>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <base-input
      #email
      [id]="'email'"
      [label]="'Email'"
      [type]="'email'"
      [name]="'email'"
      [placeholder]="'Email'"
      [prefixIcon]="'at-sign'"
      [validators]="emailValidators"
      [debounceTime]="0">
    </base-input>

    <base-input
      #password
      [id]="'password'"
      [label]="'Password'"
      [type]="isPassVisible ? 'text' : 'password'"
      [name]="'password'"
      [placeholder]="'Password'"
      [prefixIcon]="'key'"
      [suffixIcon]="isPassVisible ? 'eye-off' : 'eye'"
      [debounceTime]="0"
      [validators]="passValidators"
      (suffixClick)="isPassVisible = !isPassVisible">
    </base-input>

    <spiner *ngIf="isLoading" class="self-center"></spiner>
    <button *ngIf="!isLoading" type="submit" class="btn mt-3 hover:bg-blue-600 bg-blue-500 text-white">Sign in</button>

    <div class="text-center mt-7">
      <span class="text text_primary text-sm">Don't have an account?</span>
      <a routerLink="/auth/register" class="text text-sm link mx-1">Sign up</a>
    </div>
  </form>
</div>
